In [1]:
# Imports

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sklearn

In [2]:
# Loading Data

train = pd.read_csv('data/train.csv')
songs = pd.read_csv('data/songs.csv')
song_labels = pd.read_csv('data/song_labels.csv')
test = pd.read_csv('data/test.csv')
save_for_later = pd.read_csv('data/save_for_later.csv')
dummy_submission = pd.read_csv('data/dummy_submission.csv')

In [ ]:
train.head()

In [ ]:
songs.head()

In [ ]:
num_ratings = train['song_id'].value_counts()

In [ ]:
num_ratings = num_ratings.to_frame()

In [ ]:
num_ratings['num_ratings'] = num_ratings['song_id']

In [ ]:
num_ratings.drop(['song_id'], axis = 1, inplace = True)

In [ ]:
num_ratings['song_id'] = num_ratings.index

In [ ]:
num_ratings.reset_index(inplace = True)
num_ratings.drop(['index'], axis = 1, inplace = True)

In [ ]:
num_ratings

In [ ]:
songs

In [ ]:
songs = pd.merge(songs, num_ratings, on = 'song_id')

In [ ]:
songs

In [ ]:
songs['number_of_comments'].hist()

In [ ]:
train_new = pd.merge(train, songs, on = 'song_id')

In [ ]:
train_new

In [ ]:
customer_id_list = train_new['customer_id'].unique().tolist()

In [ ]:
customer_dictionary = {}

In [ ]:
customer_groups = train_new.groupby('customer_id')

In [ ]:
len(customer_groups)

In [ ]:
test

In [ ]:
X = train_new.drop(['song_id', 'platform_id'], axis = 1)

In [ ]:
X

In [ ]:
temp = pd.get_dummies(X['language'], prefix='language')

In [ ]:
temp

In [ ]:
X = pd.merge(X, temp, left_index = True, right_index = True)

In [ ]:
X

In [ ]:
X = X.drop(['language'], axis = 1)

In [ ]:
customer_groups = X.groupby('customer_id')

In [ ]:
X_new = customer_groups.get_group('O29219')

In [ ]:
X_new

In [ ]:
Y = X_new['score']

In [ ]:
Y

In [ ]:
X_new = X_new.drop(['score'], axis = 1)

In [ ]:
X_new.drop(['customer_id'], axis = 1, inplace = True)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
regressor = DecisionTreeRegressor(random_state = 0)

In [ ]:
regressor.fit(X_new, Y)

In [ ]:
y_pred = regressor.predict(X_new.iloc[-1].to_numpy().reshape(1,-1))

In [ ]:
X_new.iloc[0].to_numpy()

In [ ]:
y_pred

In [ ]:
import time
start = time.time()
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_new, Y)
print(time.time()-start)

In [ ]:
songs

In [ ]:
pd.isnull(songs['platform_id']).any()

In [3]:
train

       customer_id  song_id  score
0           O29219     3459      3
1           I50343     5326      4
2           N42888      236      5
3            F5740      724      4
4            K4115     8452      5
...            ...      ...    ...
710104       H6322     1003      4
710105       L6306      705      5
710106       J2494     6028      3
710107      G41961     2397      4
710108      H14592      857      5

[710109 rows x 3 columns]

In [4]:
y = train['score'].to_numpy()

In [5]:
y

array([3, 4, 5, ..., 3, 4, 5], dtype=int64)

In [7]:
y_test = np.ones_like(y)

In [8]:
y_test

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [10]:
y_test = 4*y_test

In [15]:
a = np.array([1,2,3,4])
b = np.array([1,2,3,5])

In [18]:
np.linalg.norm(y-y_test)/len(y)

0.0011798097625161789

In [19]:
dummy_submission

        test_row_id  score
0                 0    2.8
1                 1    3.1
2                 2    4.2
3                 3    3.1
4                 4    4.2
...             ...    ...
670676       670676    4.2
670677       670677    2.8
670678       670678    2.8
670679       670679    2.8
670680       670680    2.8

[670681 rows x 2 columns]